<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englishgrammertest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/english"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuestionAnswer"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer2"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer3"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer4"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer5"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer6"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer7"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer8"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer9"
            android:noHistory="true"/>
        <activity
            android:name=".QuestionAnswer10"
            android:noHistory="true"/>
        <activity
            android:name=".FinalPage"
            android:noHistory="true"/>

        <service
            android:name="com.example.englishgrammertest.BackgroundMusic"
            android:enabled="true" />
    </application>

</manifest>